.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
    width: 606px;
}

.rowHeader {
    display: flex;
    margin-top: 36px;
    width: 606px;
}

.loading {

}
