.App {
    --header_height: 60px;
    margin: 0 70px;
    width: 1280px;
  }


.hw {

}

.hwTitle {
    margin-top: 131px;
    margin-bottom: 34px;
    font-family: Montserrat, sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
}
