.container {
    display: flex;
    flex-direction: column;
    gap: 56px;

}

.wrapper {
    display: flex;
    min-width: 100%;
}

.number {
    margin-right: 13px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.number:nth-child(3) {
    padding-left: 22px;
}

